In [7]:
total_amt = 1000

print(f"car amount is {total_amt}")

if total_amt > 999:
    price_to_pay = total_amt * 0.7
    print(f"pay amount:{price_to_pay}")
elif total_amt < 999 and total_amt > 4999:
    price_to_pay =  total_Amt * 80/100
    print(f"pay amount:{price_to_pay}")
else:
    print(f"pay amount:{price_to_pay}")

car amount is 1000
pay amount:700.0

In [8]:
#single if statements

val = float(input("Enter a number"))

if val>99: print("yes")
else: print("no")

Enter a number 34

no

In [9]:
val = float(input("Enter a number"))

print("yes" if val>99 else "no")

Enter a number 100

yes

In [11]:
##while loop

num = [1,2,3,4,5,6]

i=0
sum=0

while(i<len(num)):
    sum = sum + num[i]
    i=i+1
    
print(f"sum of all numbers is {sum}")

sum of all numbers is 21

In [12]:
##while else .... loop

num = [1,2,3,4,5,6]

i=0
sum=0

while(i < len(num)):
    sum = sum + num[i]
    i=i+1
else:
    print(f"sum of all numbers is {sum}")

sum of all numbers is 21

In [14]:
## for loop
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [16]:
## for loop
for i in range(0,10):
    print(f"10 X {i} = {10*i}")

10 X 0 = 0
10 X 1 = 10
10 X 2 = 20
10 X 3 = 30
10 X 4 = 40
10 X 5 = 50
10 X 6 = 60
10 X 7 = 70
10 X 8 = 80
10 X 9 = 90

In [17]:
## for loop
for i in range(0,10):
    print(f"10 X {i+1} = {10*(i+1)}")

10 X 1 = 10
10 X 2 = 20
10 X 3 = 30
10 X 4 = 40
10 X 5 = 50
10 X 6 = 60
10 X 7 = 70
10 X 8 = 80
10 X 9 = 90
10 X 10 = 100

In [18]:
## for loop
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [21]:
## for loop
for i in range(0,10,1):
    print("*"*i)

*
**
***
****
*****
******
*******
********
*********

In [23]:
## for loop
for i in range(1,10,2):
    print(f"10 X {i} = {10*i}")

10 X 1 = 10
10 X 3 = 30
10 X 5 = 50
10 X 7 = 70
10 X 9 = 90

In [2]:
cost_of_items = [100, 200, 129, 343, 1000]

total = 0

for cost in cost_of_items:
    print(f"{total} = {total} + {cost}")
    total = total + cost
    print(f"after adding total={total}")
    print("-------------")
    
print(f"Total amount to be paid:{total}")

0 = 0 + 100
after adding total=100
-------------
100 = 100 + 200
after adding total=300
-------------
300 = 300 + 129
after adding total=429
-------------
429 = 429 + 343
after adding total=772
-------------
772 = 772 + 1000
after adding total=1772
-------------
Total amount to be paid:1772

In [2]:
cost_of_items = [100, 200, 129, 343, 1000]


total = 0
budget = 1500

for cost in cost_of_items:
    print(f"{total} = {total} + {cost}")
    total = total + cost
    print(f"after adding total={total}")
    if (total > budget):
        print(f"since current total os mpre than budget:{budget}")
        print("Please remoth last item")
        total = total - cost
        break #break the loop and exit
    print("-------------")
    
print(f"Total amount to be paid:{total}")

0 = 0 + 100
after adding total=100
-------------
100 = 100 + 200
after adding total=300
-------------
300 = 300 + 129
after adding total=429
-------------
429 = 429 + 343
after adding total=772
-------------
772 = 772 + 1000
after adding total=1772
since current total os mpre than budget:1500
Please remoth last item
Total amount to be paid:772

In [3]:
## print odd number...
for i in range(1,20):
    if i % 2 == 0:
        continue # continue the loop from begining without next stmt
    print(i)

1
3
5
7
9
11
13
15
17
19